:root {
    /*Sizes*/
    --weather-header-height: 60px;  

    /*Fonts*/
    --weather-main-font: 'Poppins', Helvetica ,'Roboto',Arial;
}

:root[data-color-mode="light"] {
    /*Colors*/
    --weather-header-bg: #6495ed;
    --weather-content-bg: #6495ed;
    --weather-card-details-bg: #ffffff;
    --weather-font-color: #000000;
    --weather-card-details-color: #6495ed; 
    --weather-card-image-text: #ffffff;
    --weather-button-bg: #4682b4;
    --weather-button-font-color: #ffffff;
}

:root[data-color-mode="dark"] {
    /*Colors*/
    --weather-header-bg: #48484a;
    --weather-content-bg: #666666;
    --weather-card-details-bg: #ffffff;       
    --weather-font-color: #ffffff;
    --weather-card-details-color: #6495ed;
    --weather-card-image-text: #ffffff;
    --weather-button-bg: #48484a;
    --weather-button-font-color: #ffffff;
}

body {
    margin: 0;
    background-color: var(--weather-content-bg);  
}

*:focus {
    outline: none;
}

@media (min-width: 768px) {
    .page {
        max-width: 768px;
        margin: 0 auto;
    }
}

span, strong {
    word-break: break-word;
}
