.page_background {
    background-image: none;
    height: 100%;
}

.homePage {
    display: grid;
    gap: 16px;
    grid-auto-rows: max-content;
    padding: 16px;
}
.not_found {
    color: var(--weather-font-color);
    text-align: center;
    font-weight: 700;
}