.layout {
    display: grid;
    grid-template-rows: var(--weather-header-height) 1fr;
    font-family: var(--weather-main-font);
}

header {
    padding: 0 16px;
    background-color: var(--weather-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    min-height: calc(100vh - var(--weather-header-height) - 16px - 16px);
    padding: 16px;
    
}

@media (min-width: 768px) {
    .content {
        max-width: 768px;
        margin: 0 auto;
    }
}


